# Testing report

## Errors

* 2025/03/28 `ERROR` - `LOW` - **IDs don't match:**
In the PUT endpoint, you must validate that the parameter id and the body match.

* 2025/03/28 `ERROR` - `LOW`- **Delete does not display the result:**
The DELETE endpoint must be answered whether I delete the record or not,

## TODOs

